extends ../layout

block content
  div#market-content
  script.
    window.market = {}
    window.market.currency = '#{currency}';
    window.market.baseCurrency = '#{baseCurrency}';
    window.market.orders = !{orders};
    window.market.count= #{count};
    window.market.limit= #{limit};
  script(src='/js/market/market.js')

