.row.form-group
  .col-4
    h6
      strong #{data.action} #{currency}
  .col-8
    .row
      .col-2.market-wallet-symbol
        i.fas.fa-briefcase
      .col-6.market-wallet-quantity #{data.walletQuantity}
      .col-4.market-wallet-currency #{data.walletCurrency}
.row.form-group
  label.col-form-label.col-3(for="inputPrice") Preis:
  .col-9.input-group
    input.form-control.market-input(id='inputPrice' name='price')
    .input-group-append
      span.input-group-text.market-input-fake-placeholder
        strong #{baseCurrency}
.row.form-group
  label.col-form-label.col-3(for='inputQuantity') Betrag:
  .col-9.input-group
    input.form-control.market-input(id='inputQuantity' name='quantity')
    .input-group-append
      span.input-group-text.market-input-fake-placeholder
        strong #{currency}
.row.form-group.market-total-input
  label.col-form-label.col-3(for='inputTotal') Total:
  .col-9.input-group
    input.form-control.market-input(id='inputTotal' name='total')
    .input-group-append
      span.input-group-text.market-input-fake-placeholder
        strong #{baseCurrency}
